.banner-content h1{
    margin-top:60px ;
    font-size: 8vmax;
}

.banner-content h3{
    color: #6B6B6B;
    font-size: 3.6vmax;
}

.banner-content p{
    color: #8F9090;
    font-size: 16px;
}

.banner-img{
    margin-top: -18px;
}

