@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}

.NavLink{
    margin: 10px;
    font-size: 20px;
    text-decoration: none;
    color: #727170
}
